# --- Node.js Backend (Root) ---
/node_modules
.env
.DS_Store
npm-debug.log*
*.pem

# --- Next.js Dashboard (Subfolder) ---
/dashboard/node_modules
/dashboard/.next
/dashboard/.env.local
/dashboard/build
/dashboard/out
.kiro